@import "../../bootstrap/scss/bootstrap";


.pane-selection-bar-component {
    //@extend .row;
    background-color: lightskyblue;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
